/*
 Radio-style buttons
 */
.radio-wrapper {
	display: inline-block;
}

.radio-wrapper label {
	background: #fff;
	margin: 5px;
	padding: 11px;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	display: inline-block;
	box-sizing: border-box;
	text-align: left;
	box-shadow: 0 0 0 1px #d8dee4;
	transition: all 0.2s ease;
}

.radio-wrapper label:hover {
	background: #f5f6f8;
}

.radio-wrapper input[type="radio"] {
	clip: rect(0, 0, 0, 0);
	border-width: 0;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.radio-wrapper input[type="radio"]:checked ~ label {
	box-shadow: 0 0 0 1.5px #675dff;
	color: #533afd;
}

.radio-wrapper input[type="radio"]:focus ~ label {
	box-shadow: 0 0 0 1.5px #675dff, 0 0 0 4px rgba(1, 150, 237, .36);
}