html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
}

body {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-image: url(../img/swati_girls_school_prayer.jpg);
}



h3 {
	margin: 1.5em auto .3em;
	color: #96431d;
	font-family: Lato, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 27px;
	line-height: 1em;
	letter-spacing: 1.3px;
	text-transform: none;
}

form {
	max-width: 800px;
	background: rgba(255, 255, 255, 0.4);
	margin: 3em auto;
}
@media only screen and (max-width: 768px) {
	form {
		max-width: 100%;
		margin: 0;
	}
}

fieldset {
	border: none;
	background-color: rgba(227, 227, 227, 0.7);
	margin: 10px;
}

.hidden { display: none }

.fieldset-header {
	text-align: center;
}

/*
 Frequentie, valuta, contact fieldsets
*/
fieldset.frequency, fieldset.valuta, fieldset.contact{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
div.radio-freq, div.radio-currency {
	min-width: 150px;
	margin: 5px 5px;
}
fieldset.contact input {
	width: 93%;
	margin: 8px;
	height: 30px;
	border: none;
	border-radius: 5px;
}
.heart-svg-inline {
	position: relative;
	transform: translateY(15%);
	display: inline-block;
	/* without a custom viewbox we have a square aspect ratio as default */
	height: 1em;
	width: 1em;
}


/*
 Bestemming fieldset
*/
fieldset.destination {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	align-items: center;
	justify-items: center;
}

fieldset.destination .radio-wrapper label {
	width: 280px;
	height: 70px;
	text-align: center;
}

.radio-wrapper label select {
	width: 250px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	margin-top: 5px;
}

.radio-wrapper input[type="radio"] ~ label select {
	display: none;
}
.radio-wrapper input[type="radio"]:checked ~ label select {
	display: inline-block;
}

/*
 Bedrag fieldset
*/
fieldset.amount {
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
}
fieldset.amount .radio-duo {
	display: flex;
}

div.amount-wrapper {
	flex-grow: 1;
}

#amount {
	background: #fff;
	margin: 5px;
	padding: 11px;
	border: none;
	border-radius: 6px;
	box-sizing: border-box;
	text-align: left;
	transition: all 0.2s ease;
	font-size: medium;
	box-shadow: 0 0 0 1.5px #675dff;
	width: 100%;
}

fieldset.submit {
	text-align: center;
}

#submit {
	width: 50%;
	height: 30px;
}
/*
.radio-wrapper input[type="radio"] ~ input[type="number"] {
	display: none;
}

.radio-wrapper input[type="radio"]:checked ~ input[type="number"] {
	display: inline-block;
}

.radio-wrapper input ~ label .title {
	font-weight: 600;
	margin-bottom: .5em;
}
*/